<h1>Waarom?</h1>

<form [formGroup]="stepform">
	<input type="text" formControlName="reason" placeholder="iets">
  <button (click)="onReasonDone()">ik wil graag verder</button>
  <br>
  <br>
  <br>

Onderstaande knop reset m vanaf stap 4! fancy als je iets veranderd dat alleen op latere stappen effect heeft. Moet je wel ff regelsn dat je m alleen toont als het van toepassing is natuurlijk. Maar dat is beyond de scope van de demo.
  <button (click)="somethingChangedSoResetLaterSteps.emit();">Goto Step 4</button>
  </form>