
<app-scroll-wizard>
  <hello *appScrollWizardStep="let ctrl=stepCtrl" (autoAdvance)="ctrl.goNext()" name="Intro step" class="step"></hello>
	
  <app-stepone *appScrollWizardStep="let ctrl=stepCtrl; let i=index" 
  (genderSelected)="ctrl.resetFromHere((i+1));" class="step"></app-stepone>
  
  <app-steptwo *appScrollWizardStep="let ctrl=stepCtrl" (done)="ctrl.goNext()" 
    (somethingChangedSoResetLaterSteps)="ctrl.resetFromHere(4)"
  class="step"> </app-steptwo>

	<app-my-fancy-component *appScrollWizardStep="let ctrl=stepCtrl" 
    (done)="ctrl.goNext()" 
    (startOver)="ctrl.resetFromHere()"
    name="step2">
  </app-my-fancy-component>

	<app-my-fancy-component *appScrollWizardStep="let ctrl=stepCtrl" 
    (done)="ctrl.goNext()" 
    (startOver)="ctrl.resetFromHere()"
    name="step3">
  </app-my-fancy-component>

  <app-my-fancy-component *appScrollWizardStep="let ctrl=stepCtrl" 
    (done)="ctrl.goNext()"
    (startOver)="ctrl.resetFromHere()" 
    name="step4">
  </app-my-fancy-component>


</app-scroll-wizard>
